[req]
default_bits = 2048
default_md = sha256
prompt = no
utf8 = yes
string_mask = utf8only
distinguished_name = client_distinguished_name
x509_extensions = req_cert_extensions

[ client_distinguished_name ]
countryName = BR
stateOrProvinceName = Rio de Janeiro
localityName =Rio de Janeiro
organizationName = CS
organizationalUnitName = CS
commonName = chatio.local
emailAddress = crys_v1cera@bing.com

[ req_cert_extensions ]
basicConstraints = CA:FALSE
subjectAltName = @alt_name
keyUsage = critical,digitalSignature,keyEncipherment

[ alt_name ]
DNS = chatio.local